@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/** ROOT STYLING VARIABLES **/
:root {
    font-family: Rubik, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

.glowtext {
  text-shadow: #c4b5fd 1px 2px 1px;
}
body {
  overflow-x: hidden;
}

.w-\[400vw\].\32 xl\:h-\[260vh\].h-\[290vh\].-z-10.bg-repeat.bg-fixed::before {
  content: "";
  width: 400vw;
  position: absolute;
  height: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}